!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }/
    %title= settings.site_title
    %link{ :href => 'http://fonts.googleapis.com/css?family=Lobster', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :rel => "stylesheet", :href => "/style/style.css", :type => "text/css" }/
  %body{ :lang => "en" }
    #wrapper
      %header#header
        %nav
          %ul
            %li.subnav_wrap
              %a{ :href => "/" } Frontpage &#9662;
              %ul.subnav
                - if session?
                  %li
                    %a{ :href => "/home" } Dashboard
                  %li
                    %a{ :href => "/home/inbox" } Inbox
                %li
                  %a{ :href => "/all" } All
                %li
                  %a{ :href => "/all/sort:popular" } Popular
            %li.subnav_wrap
              %a{ :href => "/all" } Posts &#9662;
              %ul.subnav
                - if session?
                  %li
                    %a{ :href => "/create" } New thread
                  %li
                    %a{ :href => "/all/creator:" + @cur_user.name } My threads
                  %li
                    %a{ :href => "/all/poster:" + @cur_user.name } Threads I posted in
                %li
                  %a{ :href => "/all/type:post" } Texties
                %li
                  %a{ :href => "/all/type:image" } Images
                %li
                  %a{ :href => "/all/type:video" } Videos
                %li
                  %a{ :href => "/all/type:link" } Links
            - if settings.chat
              %li
                %a{ :href => "/chat" } Chat
            - if !session?
              %li
                %a{ :href => "/login" } Sign in
              %li
                %a{ :href => "/signup" } Sign up
            - else
              %li
                %a{ :href => "/logout" } Sign out
        %aside
          %a{ :href => "/", :rel => "home" }
            %em#site_title
              %img#logo{ :src => "/images/cl_logo.png", :width => "70", :height => "70" }
              The
              %strong Colorless
      %article#main
        %div#container
          = yield
        %aside#sidebar
          - if session?
            %div.widget.user_greeting
              %img.avatar{ :src => @cur_user.avatar(40), :width => "40", :height => "40" }
              Hello,
              %strong= @cur_user.name
              %br
              %a{ :href => "/settings" } Settings
            - if ann = @cur_user.notifications.activities( :type => :announcement, :limit => 1 ).first
              %div.widget.important
                %h4
                  %a.close{ :href => "javascript:;" } &#215;
                  = ann.title
                = markdown(ann.content)
          %div.widget
            %h4 Advertising
            %p.half_text_ad
              %img{ :src => "http://placehold.it/200/000/555", :width => "200", :height => "200" }
              Here comes the text,
              %a{ :href => "#" } visit it!
          %div.widget
            %h4 Network
            %p.half_text_ad
              %img{ :src => "http://i.imgur.com/ZsQt9.png", :width => "250", :height => "50", :alt => "Colorcast - The Colorless Podcast" }
              %a{ :href => "http://podcast.thecolorless.net" } Susbcribe
              to our audio podcast!
      %footer#footer
        %nav
          %ul
            %li
              %a{ :href => "/faq" } FAQ
            %li
              %a{ :href => "/rules" } Rules
            %li
              %a{ :href => "/pp" } Privacy Policy
            %li
              %a{ :href => "/about" } About
            %li
              %a{ :href => "/blog" } Blog
            %li
              %a{ :href => "http://twitter.com/TheColorless", :rel => "nofollow" } Our Twitter
        %aside
          %a.icon_button{ :href => "/feeds" }
            %img{ :src => "/images/rss_alt_32x32.png", :width => "32", :height => "32", :alt => "Our RSS feeds" }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" }
    :javascript
      !window.jQuery && document.write(unescape('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))
      var root = "#{ROOT}";
    %script{ :src => "/js/plugins/jquery.showpassword.min.js" }
    %script{ :src => "/js/plugins/jquery.tipTip.minified.js" }
    %script{ :src => "/js/colorless.js" }