%ul.activity
  - @activity.each do |@a|
    - this = (@a.parent || @a)
    - @that = this
    - if [:post, :reply, :image, :link, :video, :like].include? @a.type
      %li.item{ :class => "item_" + this.type.to_s, :id => "a" + @a.id.to_s }
        %div.item_meta
          %a{ :href => "/user/" + @a.user.name }
            %img.avatar{ :src => @a.user.avatar(48), :width => "48", :height => "48" }
            %span.name= you(@a.user.name)
          %span.verb= @a.verb
          %a.object{ :href => "/thread/" + this.id.to_s }= @a.substantive(@cur_user.name)
        %div.item_content
          - if not [:reply, :like].include? @a.type
            = haml :"helpers/activity_#{@a.type.to_s}"
          - elsif [:reply].include? @a.type
            = haml :"helpers/activity_reply"
          - elsif [:like].include? @a.type
            = haml :"helpers/activity_#{@a.parent.type.to_s}"
        %div.item_utils
          %ul
            - if not [:reply].include? @a.type
              %li
                - @c = this
                = haml :"helpers/like"
              %li
                = this.meta['post_count']
                posts
              %li.item_tags
                Tagged:
                - this.tags.each do |tag|
                  %a.boxed{ :href => "/all/tags:" + tag.name }= tag.name
            - else
              %li
                %a.boxed{ :href => goto(@a.parent_id, @a.id, 20) } View in context
              %li
                = (@a.parent.title || "#" + @a.parent.id.to_s)