%ul.activity
  - if session?
    - @activity.each do |activity|
      - if activity.type == :post
        %li.item.item_freetext
          %div.item_meta
            %a{ :href => "#" }
              %img.avatar{ :src => activity.user.avatar(48), :width => "48", :height => "48" }
              %span.name= activity.user.name
            %span.verb posted
            %a.object{ :href => "" } a thread
            %span.time= ago(activity.created_at)
          %div.item_content
            %h2
              %a{ :href => "#" }= activity.title
            %p= activity.content
          %div.item_utils
            %ul
              %li
                %a.like.tt.boxed{ :href => "" } Appreciate
              %li
                0 readers
              %li
                Tagged:
                - activity.tags.each do |tag|
                  %a.boxed{ :href => "" }= tag.name
      - if activity.type == :reply
        %li.item.item_indirect
          %div.item_meta
            %a{ :href => "#" }
              %img.avatar{ :src => activity.user.avatar(48), :width => "48", :height => "48" }
              %span.name= activity.user.name
            %span.verb replied to
            %a.object{ :href => "" } a thread
            %span.time= ago(activity.created_at)
          %div.item_content
            %blockquote.item_reply
              = activity.content
          %div.item_utils
            %ul
              %li
                %a.boxed{ :href => "" } View in context
      - if activity.type == :image
        %li.item.item_image
          %div.item_meta
            %a{ :href => "#" }
              %img.avatar{ :src => activity.user.avatar(48), :width => "48", :height => "48" }
              %span.name= activity.user.name
            %span.verb uploaded
            %a.object{ :href => "" } an image
            %span.time= ago(activity.created_at)
          %div.item_content
            %a.item_image{ :href => "#" }
              %img{ :src => "http://placehold.it/220x240", :width => "220", :height => "240" }
            %div.item_image_info
              %dl
                %dt Size:
                %dd 1.6 MB
              %dl
                %dt Dimensions:
                %dd 1456x757
              %dl
                %dt Source:
                %dd http://pixiv.net/&#0133;?id=12345
            %blockquote.item_image_comment
              = activity.content
          %div.item_utils
            %ul
              %li
                %a.like.tt.boxed{ :href => "" } Appreciate
              %li
                0 viewers
              %li
                Tagged:
                - activity.tags.each do |tag|
                  %a.boxed{ :href => "" }= tag.name