%div.item_meta
  %a.author.tt{ :href => "/user/" + @c.user.name, :title => (@c.user.blob['real_name'] || nil) }
    %img.avatar{ :src => @c.user.avatar(48), :width => "48", :height => "48" }
    %span.name= @c.user.name
    %span.type= @item.user.id == @c.user.id ? "Author" : (@c.user.status == :administrator ? "Staff" : "")
  %span.id
    %a{ :href => "/thread/" + @item.id.to_s + "#p" + @c.id.to_s }= "#" + @c.id.to_s
  %span.time= ago(@c.created_at)
%div.item_content
  - if @c.type == :post
    %div.item_head
      %h1= @c.title
      %ul
        %li
          = @c.meta["like_count"]
          likes &bull;
          = haml :"helpers/like"
        %li
          = @c.meta['post_count']
          posts
  %div.format~ markdownit @c.content
  - if session? and @cur_user.id == @c.user.id
    %div.item_controls
      %a.boxed{ :href => "/edit/#{@c.id.to_s}" } Edit
      %form.no_form{ :action => "/activity/#{@c.id.to_s}/delete", :method => "post" }
        %button.boxed.delete{ :type => "submit" } Delete