%ul.posts
  - @posts.each do |activity|
    %li.item{ :id => "a" + activity.id.to_s }
      %div.item_content
        %h2
          %a{ :href => "/thread/" + activity.id.to_s }= activity.title
      %div.item_utils
        Tagged:
        - activity.tags.each do |tag|
          %a.boxed{ :href => "/tag/" + tag.name }= tag.name
      %div.item_meta
        %ul
          %li
            %a{ :href => "/user/" + activity.user.name }
              %img.avatar{ :src => activity.user.avatar(48), :width => "48", :height => "48" }
              %span.name= activity.user.name
            %span.time= ago(activity.created_at)
          %li
            %span.likes
              = activity.meta['like_count']
              likes
            %span.posts
              = activity.meta['post_count']
              posts
          %li
            %a.last_reply{ :href =>  "/thread/" + activity.id.to_s }
              %span.what Last reply by
              %span.name= activity.meta['bumped_by']
              %span.time= ago(activity.meta['bumped_at'])