%ul.posts
  - @index.each do |activity|
    %li.item
      %div.item_content
        %h2
          %a{ :href => "" }= activity.title
      %div.item_utils
        Tagged:
        - activity.tags.each do |tag|
          %a.boxed{ :href => "" }= tag.name
      %div.item_meta
        %ul
          %li
            %a{ :href => "" }
              %img.avatar{ :src => activity.user.avatar(48), :width => "48", :height => "48" }
              %span.name= activity.user.name
            %span.time= ago(activity.created_at)
          %li
            %span.views 0 readers
            %span.posts
              = activity.children.count
              replies
          %li
            %a.last_reply{ :href => "" }
              %span.what Last reply by
              %span.name User2
              %span.time 0 minutes ago